.alert {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 1.2rem;
	color: var(--bg);
	border-radius: .3rem;
	min-width: 300px;
	text-align: center;
}


@keyframes slideDown {
	0% {
			transform: translate(-50%, -100%);
	}
	100% {
			transform: translate(-50%, 0);
	}
}

@keyframes slideUp {
	0% {
			transform: translate(-50%, 0);
	}
	100% {
			transform: translate(-50%, -100%);
	}
}

.slideDown {
	animation: slideDown .5s ease-in-out forwards;
}

.slideUp {
	animation: slideUp .5s ease-in-out forwards;
}

.success {
	background-color: var(--green);
}

.error {
	background-color: var(--red);
}